alias h='history'
alias crontab="VIM_CRONTAB=true crontab"

# if gls utils are installed
if command -v gls > /dev/null; then
  alias ls="$(which gls) --color"
  alias ll='ls -Al'
# or if we have coreutils installed over the default bash stuff
elif [[ $(ls --version | head -1) =~ coreutils ]]; then
  alias ls="$(which ls) --color"
  alias ll='ls -Al'
# default to regular ol' ls
else
  alias ls='$(which ls) -G'
  alias ll='ls -Al'
fi

# bundler
alias b=bundle
alias bi="bundle install --path vendor/bundler"
alias be="bundle exec"

if [ `uname` == Darwin ]; then
  alias git=hub
fi
