##
 # utility functiong for removing a host from known_hosts and logging in
 ##
budvar() {
  local host=$1
  : ${host:=192.168.66.128}

  # remove the ip address from known_hosts
  sed_str="sed -i .bak '/^${host}/d' ~/.ssh/known_hosts"
  printf "removing ip from known hosts: $sed_str\n"
  eval $sed_str
  ssh -o StrictHostKeyChecking=no -A mpladna@${host}
  # mounts; commenting out in case these persist
  # sshfs mpladna@192.168.66.128:/build ~/remotes/build
  # sshfs mpladna@192.168.66.128:/home/mpladna home/
}

kill-ssh-agents() {
  ps x | grep ssh | cut -d " " -f1 -f2 | xargs kill -KILL
}
