"*":
  editor:
    showIndentGuide: true
    invisibles: {}
    fontSize: 11
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    projectHome: "/Users/mpladna/dev"
  "exception-reporting":
    userId: "3f4ec968-3a0e-1976-6fe6-373f87123b39"
  welcome:
    showOnStartup: false
  linter: {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "save-session":
    project: "/Users/mpladna/dev/tintin-syntax"
    windowX: 178
    windowY: 23
    windowWidth: 1067
    windowHeight: 825
    dataSaveFolder: "/Users/mpladna/.atom/packages/save-session/projects"
    fullScreen: false
    projects: [
      "/Users/mpladna/mud"
    ]
  "tree-view":
    hideVcsIgnoredFiles: false
    hideIgnoredNames: true
