"*":
  core:
    customFileTypes:
      'source.shell': [
        ".aliases"
        ".bash_profile"
        ".bashrc"
        ".colors"
        ".functions"
        ".vimrc"
      ]
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    fontSize: 11
